impromptu:
  chunker-config:
    max-chunk-size: 800
    overlap-size: 100
    embedding-batch-size: 800

  chat-llm:
    model: gpt-4.1-mini
    temperature: 0.0

  voice:
    persona: impromptu
    max-words: 250

  objective: music

embabel:

  agent:


    logging:
      personality: colossus

  models:

    # Change this to use a non Open AI default LLM
    default-llm:
      model: gpt-4.1-mini

    default-embedding-model:
      model: text-embedding-3-small


spring:
  main:
    web-application-type: servlet

# Default: web mode with Vaadin
# Use --spring.profiles.active=shell for CLI mode