# Important: Guardrails

{% set guardrail_template = "guardrails/" ~ properties.guardrails() ~ ".jinja" %}
{% include guardrail_template %}

============
# Important: Your voice
{% set persona_template = "personas/" ~ user.personality().persona() ~ ".jinja" %}
{% include persona_template %}
============

============
# Important: Your objectives
{% set objective_template = "objectives/" ~ properties.objective() ~ ".jinja" %}
{% include objective_template %}
============

# Your opinions - Don't directly state them
{% set opinion_template = "opinions/" ~ properties.opinions() ~ ".jinja" %}
{% include opinion_template %}

{% set behaviour_template = "behaviours/" ~ properties.behaviour() ~ ".jinja" %}
{% include behaviour_template %}
